* { color:#555;
    font-size:15px;
    font-family:verdana;
}

#dataForm { 
	min-height: 300px !important;
}

body {
    background-color: #555555;
}

.nav-link {
    color: #555;
}
.nav-link:hover {
	color: black;
}

.nav-link-right {
    margin-left:10px;
    color: #555;
    float: right;
}
.nav-link-right:hover {
	color:black;
}

.title {
    border-bottom: 2px solid #969696;
    color: #E4E4E4;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

h1
{
    font-size:20px;
    padding:0 20px 20px;
    margin:0;
    margin-bottom: 15px;
    text-align:center;
}

input,textarea { padding:4px; font-size:14px !important; width:250px; }
#container a.data-ref  { display: inline-block; max-width: 420px; overflow:hidden; }
#config_chooser   { max-width: 250px;}
#config_chooser option { max-width: 220px; overflow:hidden; }
#process-chooser   { max-width: 250px;}
#process-chooser option { max-width: 220px; overflow:hidden; }
p > label:first-child
{
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    padding-right: 35px;
    text-align: right;
    width: 135px;
}

ul li { padding:5px; }

span#labeltext { margin: 3px 0px 0px 3px; }

.ui-icon-triangle-1-s {	background-position: -64px -13px; }

#submitbutton { width:auto; }

label.ui-state-default { display:inline-block !important; }

ul { left: 44.5%; top: 49.5%; }

#container
{
    margin:0 auto;
    width:440px;
    background-color:#eee;
    padding:20px;
    border-radius: 5px;
    clear: both;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin-top:40px;
}

#error{
    background-color:#ffebe8;
    border:1px solid #dd3c10;
    padding:7px 3px;
    text-align:center;
    color:#b00000;
    font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
    font-size:12px;
    width:30%;
    margin:20px auto;
    display: none;
}

#info{
    background-color:#b8edb8;
    border:1px solid #269926;
    padding:7px 3px;
    text-align:center;
    color:#165a16;
    font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
    font-size:12px;
    width:30%;
    margin:20px auto;
    display: none;
}

.status {
    background-color:#b8edb8;
    border:1px solid #269926;
    padding:7px 3px;
    text-align:center;
    color:#165a16;
    font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
    font-size:12px;
    width:100%;
    margin:20px auto;
    display: block;
}

#pwdForm {
    margin-left: 20%;
}

#pwdForm > * {
    margin: 5px;
}

#loginform  * {
    margin: 5px;
}

#regForm {
    border: none;
}

#users { width: 350px; margin: 20px 0; }
table#users { margin: 1em 0; border-collapse: collapse; width: 100%; }
table#users td, table#users th { border: 1px solid #eee; padding: .6em 10px; text-align: left; max-width: 182px; overflow:hidden; }
tr.ui-widget-header > th { background-color: #555555; color: #cccccc; }

/**********Pagination css**********/
div.pagination {
    padding: 3px;
    margin: 3px;
    font-size:12px;
}

div.pagination span {
    margin-top: -3px;
}

div.pagination * {
    font-size:12px;
}

.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
fieldset {
    border:0;
    margin-top:25px;
}

#dialog-form {
    height: 700px;
}

.calcs, .configs {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
    padding: 10px;
    background-color: #fbf9ee;
    color: cornflowerblue;
}

#result {
    clear: left;
    resize: vertical;
    width: 98%;
    margin: 4px;
}

#post-process {
	border: 1px solid gray;
	padding: 5px;
	margin: 2px;
}

#afterlaunch {
 float: right;
}

textarea {
  margin: 10px;
  width: 95%;
}

.data-ref {
    
    color: #555555;
	text-decoration:none;
}
.data-ref:hover {
	color: #B3B3B3;
	text-decoration:underline;
	}
